/* TicketBookingApp.css */

body, html {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.font-sans {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

/* You can add more styles as you design the app */
